@import "../../../scss/variable";

.formInput {
  position: relative;
  & > input {
    width: 100%;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid $gray-5;
    height: 40px;
    background: $white;
    color: $gray-8;
    font-size: 1rem;

    &::placeholder {
      font-style: italic;
      font-size: 0.9rem;
    }
    
    &:focus {
      outline: 0;
      box-shadow: 0 0 3px 1px $blue-3;
    }
  }
  & > div {
    position: absolute;
    top: calc((40px - 1rem)/2);
    right: 0.6rem;
    color: $red-5;
  }

  .tooltip {
    position: relative;
    display: inline-block;

    &:hover .tooltiptext {
      visibility: visible;
    }

    .tooltiptext {
      visibility: hidden;
      background-color: $black;
      color: $white;
      text-align: center;
      border-radius: 6px;
      padding: 5px 1rem;
      white-space: nowrap;
      
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 120%;
      right: -40%;
    }
  }
  
}
