@import "../../../scss/variable";

.sectionProduct {
  margin-top: 30px;
  border-bottom: 1px solid $gray-5;
  .type {
    height: 30px;
    margin-bottom: 20px;
    .left {
      display: flex;
      float: left;
      font-size: 23px;
      font-weight: $medium;
      cursor: pointer;
      text-decoration: none;
    }
    .right {
      float: right;
      height: 100%;
      .lastButton {
        border: none;
        width: 80px;
        cursor: pointer;
        height: 100%;
        margin-left: 30px;
        background-color: $blue-5;
        color: $white;
        border-radius: 30px;
      }
    }
  }
  .listProduct {
    display: flex;
    justify-content: flex-start;
  }
}
