@import "../../../scss/variable";

.buttonOutline {
  height: 2.5rem;
  border: 1px solid white;
  border-radius: 2rem;
  padding: 0 1rem;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  white-space: nowrap;
  font-weight: bolder;

  &:hover {
    background-color: white;
    color: $blue-9;
  }
}