@import "../../../scss/variable";

.sortBar {
  display: flex;
  align-items: center;
  background-color: $gray-2;
  border-radius: 5px;
  height: 50px;
  .title {
    width: 12%;
  }
  .paddingLeft {
    padding-left: 20px;
  }
  .buttonArea {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .paginationArea {
    width: 38%;
    text-align: right;
    padding: 0 10px 0 10px;
    span {
      padding-right: 10px;
    }
    button {
      cursor: pointer;
      height: 30px;
      border: 1px solid $gray-5;
      background-color: $white;
      border-radius: 2px;
      width: 30px;
      &:hover{
        background-color: $gray-1;
        color: $orange-5;
      }
    }
  }
}
