@import "../../scss/variable";

.productDetail {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  .productImage {
    width: 30%;
    height: 450px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .productInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    .general {
      margin-bottom: 20px;
      .title {
        font-size: 25px;
      }
      .review {
        height: 40px;
        display: flex;
        align-items: center;
        svg {
          color: $orange-5;
        }
        .fill {
          fill: $orange-5;
        }
      }
      .price {
        margin-top: 20px;
        padding-left: 20px;
        font-size: 20px;
        font-weight: $medium;
        color: $orange-5;
        margin-bottom: 20px;
      }
      .quantity {
        width: 100px;
        height: 30px;
        margin-left: 20px;
        margin-bottom: 20px;
        button {
          width: 33.33%;
          height: 100%;
          padding: 0;
          border: 1px solid $gray-5;
          cursor: pointer;
          &:hover {
            background-color: $gray-4;
          }
        }
        input {
          width: 33.33%;
          height: 100%;
          border: none;
          border-top: 1px solid $gray-5;
          border-bottom: 1px solid $gray-5;
          text-align: center;
        }
      }
      .action {
        margin-left: 20px;
        button {
          cursor: pointer;
          width: 170px;
          height: 40px;
          background-color: $orange-5;
          color: $white;
          border: none;
          margin-right: 10px;
          &:hover {
            background-color: $orange-6;
          }
        }
      }
    }
    .description {
      line-height: 25px;
    }
  }
}
