@import "scss/_variable";

.buttonTransparent {
  height: 2.5rem;
  border: none;
  border-radius: 2rem;
  padding: 0 1rem;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: $font-base;
  white-space: nowrap;
  font-weight: bolder;
  display: flex;
  align-items: center;

  &:hover {
    color: $orange-5;
  }

  &:focus {
    outline: none;
  }
}
