@import "../../../scss/variable";

.starRow {
  cursor: pointer;
  svg {
    color: $orange-5;
  }
  &:hover {
    svg {
      fill: $orange-5;
    }
  }
  .selected {
    fill: $orange-5;
  }
}
