@import "../../../scss/variable";

.product {
  width: calc(100%/6);
  height: 250px;
  padding: 0 10px 0 10px;
  .productImage {
    height: 60%;
    width: 100%;
  }
  .productName {
    display: block;
    height: 15%;
    text-decoration: none;
    color: $black;
    &:hover {
      color: $blue-7;
    }
  }
  .productMetaInfo {
    width: 100%;
    height: 25%;
    color: $gray-7;
    .review {
      display: flex;
      align-items: center;
      height: 30%;
      .reviewStar {
        width: 12px;
        color: $orange-5;
      }
      .reviewCount {
        margin-left: 4px;
        font-size: 12px;
      }
    }
    .productInfo {
      display: flex;
      height: 70%;
      .infoCol {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        color: $orange-5;
        font-weight: $bold;
      }
      .action {
        display: flex;
        justify-content: space-around;
        width: 50%;
        height: 100%;
        align-items: center;
        button {
          cursor: pointer;
          width: 34px;
          height: 34px;
          border: none;
          background-color: $gray-5;
          border-radius: 50%;
        }
      }
    }
  }
}
