@import "../../../scss/variable";

.messageBox {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  width: 333px;
  min-height: 150px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $blue-9;
  color: $white;
}
