.ShopTotal{
    box-sizing: border-box;
    height: 180px;
    
    display: flex;
    margin: 0 auto;
    

        .right{
            
            width: 25%;
        }
        .left{
            width:75%;
        }
      
      

    
}