.ShopTotal{
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
        .right{
            
            width: 25%;
        }
        
        .left{
            width:75%;
        }
      
      

    
}