// Color
$blue-dark: #303846;
$blue-light: #0080ff;
$orange: #ffa400;
$grey: #505f77;
$grey-light: #eaedf1;
$black: #000000;
$white: #ffffff;

// Width
$width-lg: 1200px;

// font-weight
$bold: 800;
$medium: 600;
