.InforProduct{
        width: 55%;
        padding-right: 50px;
        padding-left: 15px;
        float: left;
        
   .input {
        text-overflow: ellipsis;
    }
    .detail {
        color: #333;
        text-decoration: none;
    }
    
}