@import "../../../scss/variable";

.UnderlineButton {
  height: 100%;
  border: none;
  background-color: $white;
  cursor: pointer;
  margin: 0 0 0 30px;
  padding: 0;
  font-weight: $bold;
  color: $gray-7;
  &:hover {
    color: $blue-5;
    box-shadow: inset 0 -4px 0 0 $blue-5;
    transition: box-shadow 0.1s ease;
  }
}
